# Packages currently in use:
ultralytics
fastapi
uvicorn
pydantic
requests
pyserial
numpy
opencv-python
#openvino-dev[onnx] # will be changed to onnxruntime-lite for deployment on edge devices

# Core Packages:
#torch - Library turned into a comment as I use an AMD GPU (RX 9060 XT).
#torchvision - to have it be compatible with my AMD GPU, i will install these libraries through ```pip3 install --pre torch torchvision --index-url https://download.pytorch.org/whl/nightly/rocm7.0```
pandas
matplotlib
seaborn
scikit-learn
labelImg
pillow

# Optional Packages:
tqdm
pyyaml
onnx
flask
firebase_admin
pymongo